*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	font-family: "Quicksand", sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
}

body {
	background: #eae3c8;
}

.app {
	display: flex;
}

.input-card {
	position: relative;
	align-content: center;
	justify-content: space-evenly;
}

input {
	position: relative;
	top: 5vh;
	width: 50vw;
	height: 1vw;
	padding: 0.5vw;
}

.drink-card {
	background: #cfc5a5;
	position: relative;
	border-radius: 1vh;
	margin: 5vw 0.5vh 0vh 0.5vh;
	padding: 2vh;
}

.image {
	width: 300px;
	height: 300px;
	margin: 1vw 0vh;
	border-radius: 1vh;
}
